{% extends "base.html" %}

{% block content%}

<h1 style="text-align:center; color: maroon">ORF not found</h1>
<h4 style="text-align:center; color: maroon"> No TAG codon in sequence. Translation not started.</h4>
<h6 style="text-align:center; color: maroon"> Have your people talk to the people over at Polymerase. </h6>
<br />
{{ error }}
<hr />
<br />
<p>AAGGATGATGTCGTGCTTATCTTATTAGGTTACCTGGTGGTTATCGGTACAGTTTTCGGCGGTTATGTCA
TGACCGGCGGACACCTTGGGGCACTCTATCAACCTGCTGAACTGGTCATCATTGGCGGCGCGGGGATAGG
GGCGTTCATTGTCGGCAACAACGGGAAGGCCATCAAAGGCACGATGAAAGCTATCCCGTTGTTATTTCGT
CGTTCGAAATACACAAAATCTATGTACATGGATTTGCTGGCGTTGCTCTATCGCCTGATGGCCAAATCAC
GCCAGCAGGGGATGTTCTCCCTTGAACGCGATATTGAAAATCCAAAAGAGAGTGAAATCTTCGCCAGTTA
TCCGCGTATTCTGGCCGATGCGGTAATGCTTGATTTTATTGTCGATTATCTGCGCCTGATCATCAGCGGC
AACATGAATACGTTCGAAATTGAAGCGTTGATGGATGAAGAGATTGAAACCCATGAAAGCGAGGCGGAAG
TCCCGGCCAACAGTCTGGCGATGGTGGGGGATTCGCTGCCTGCCTTTGGTATCGTCGCGGCGGTAATGGG
GGTGGTTCACGCTCTGGCTTCAGCCGATCGTCCGGCAGCGGAGTTGGGGGCGCTGATTGCCCATGCCATG
GTAGGTACGTTCCTCGGTATTTTACTGGCTTATGGATTCATTTCACCGTTAGCGACCGTTTTGCGCCAGA
AGAGCGCCGAAACCACCAAGATGATGCAGTGCGTAAAAATCACACTGCTGTCTAATCTGAACGGCTATGC
GCCGCCGATTGCCGTGGAATTTGGTCGTAAAACGCTTTATTCCAGTGAGCGTCCATCGTTTATTGAGTTG
GAAGAACACGTTCGCGCAGTGAGAAACCCAAACCAGCAGCAGACGACTGAGGAAGCATGAAAAATCAGGC
TCATCCCATTGTCGTCGTAAAACGCCGCAGGCACAAACCGCACGGCGGCGGGGCGCACGGTTCCTGGAAA
ATTGCCTACGCCGATTTTATGACGGCGATGATGGCTTTTTTTCTGGTGATGTGGCTGATTTCCATCTCCA
GCCCTAAAGAATTAATTCAGATTGCCGAATATTTTCGTACGCCGTTGGCCACCGCGGTAACGGGGGGGAA
TCGGATTGCCAATAGCGAGAGCCCGATACCAGGCGGCGGCGATGATTACACCCAACAGCAGGGTGAAGTG
GAAAAGCAGCCGAATATCGACGAGCTGAAAAAACGGATGGAGCAGAGTCGCTTAAACAAACTGCGCGGCG
ATCTGGATCAACTGATCGAATCCGATCCCAAACTGCGCGCGTTACGTCCGCATCTGAAAATTGATTTAGT
TCAGGAGGGGTTGCGCATCCAGATTATCGACAGCCAGAACCGCCCGATGTTTAAAACCGGCAGCGCCGAA
GTTGAGCCGTATATGCGCGATATCCTGCGTGCGATTGCGCCAGTGTTAAACGGTATACCTAATCGCATTA
GCCTGGCCGGCCATACCGATGACTTTCCCTACGCGAACGGCGAAAAAGGCTATAGCAACTGGGAGTTATC
CGCCGATCGCGCCAATGCCTCTCGTCGCGAACTGGTCGCTGGCGGGCTGGATAACGGAAAAGTATTACGG
GTGGTTGGCATGGCCGCCACGATGCGGCTGAGCGATCGCGGTCCTGATGACGCCATCAACCGCCGTATAA
GCCTGCTGGTGTTAAACAAACAGGCGGAACAGGCCATTTTGCATGAAAACGCTGAAAGCCAGAATGAGCC
GGTAAGTGTATTACAACAGCCTGCGGCAGCCCCGCCGGCAAGCGTACCCACATCGCCAAAAGCGGAACCG
AGGTGATAGCGTGAGCATGGATATTAGCGATTTT</p>

{% endblock %}
